body {
  color: $neutralDark;
  display: grid;
  grid-template-rows: auto 1fr auto;
  flex-direction: column;
  font-family: $fontPrimary;
  font-weight: 400;
  @mixin font-rhythm;
}

h1,h2,h3,h4 {
  font-family: $fontSecondary;
  font-weight: 700;
}

a {
  color: $color;
  transition: color .2s ease-out;

  &:hover {
    color: $colorDark;
  }
}

.sage-header,
.sage-footer {
  width: 100%;
  @mixin property-rhythm padding, .75;
}

.sage-header {
  align-items: center;
  background: linear-gradient(90deg, $colorLight, $color, $colorDark);
  display: flex;
  justify-content: space-between;
  @mixin property-rhythm margin-bottom, 1.75;

  &__home {
    color: $neutralLight;
    font-weight: bold;
    text-decoration: none;
    @mixin font-rhythm 1.5, 1/$baseLineHeight;
  }
}

.sage-search {
  display: flex;
  width: 100%;
  @mixin property-rhythm max-width, 10;

  &__input,
  &__submit {
    @mixin property-rhythm padding, .25;
    @mixin font-rhythm .75, 1/$baseLineHeight;
  }

  &__input {
    border: none;
    width: 100%;
  }

  &__submit {
    background-color: $colorLight;
    color: $neutralLight;
    transition: background-color .2s ease-out,
                color .2s ease-out;

    &:hover,
    &:active {
      background-color: $color;
    }

    &:active {
      color: $colorDark;
    }
  }
}

.sage-main {
  width: 100%;
  max-width: 45rem;
  margin: 0 auto;
  @mixin property-rhythm padding-right;
  @mixin property-rhythm padding-left;

  &--has-nav {
    display: grid;
    grid-template-columns: 1fr 45rem;
    max-width: 60rem;
    @mixin property-rhythm grid-gap;
  }

  h1 {
    @mixin font-rhythm 2;
  }

  h2 {
    @mixin font-rhythm 1.5;
  }

  h3 {
    @mixin font-rhythm;
  }
}

.sage-logo {
  display: block;
  margin: 0 auto;
  @mixin property-rhythm margin-bottom;
  @mixin property-rhythm max-width, 2;
}

.sage-section {
  @mixin property-rhythm margin-bottom, 1.5;

  &:last-of-type {
    @mixin property-rhythm margin-bottom, 3.5;
  }

  &--columns {
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: repeat(2, 1fr);
  }

  &--navigation {
    width: 100%;
    max-width: 15rem;
  }

  strong {
    font-weight: 700;
  }
}

.sage-topics {

  &__link {
    border: 1px solid $colorLight;
    color: $neutralDark;
    display: flex;
    flex-direction: column;
    position: relative;
    text-decoration: none;
    transition: background-color .2s ease-out,
                border-color .2s ease-out,
                color .2s ease-out;
    @mixin property-rhythm padding-top, .5;
    @mixin property-rhythm padding-right;
    @mixin property-rhythm padding-bottom, .5;
    @mixin property-rhythm padding-left;

    &:hover {
      background-color: $colorLight;
      border-color: $colorDark;
      color: $neutralDark;

      &::before {
        border-color: transparent $colorDark transparent transparent;
      }
    }

    &:active {
      background-color: $colorDark;
      border-color: $color;
      color: $neutralDark;

      &::before {
        border-color: transparent $color transparent transparent;
      }
    }

    &::before {
      content: "";
      border-color: transparent $colorLight transparent transparent;
      border-style: solid;
      border-top-width: 0;
      border-left-width: 0;
      height: 0;
      position: absolute;
      width: 0;
      transition: border-color .2s ease-out;
      @mixin property-rhythm border-right-width, .5;
      @mixin property-rhythm border-bottom-width, .5;
      @mixin property-rhythm top, .5;
      @mixin property-rhythm right, .5;
    }
  }

  &__description {
    @mixin font-rhythm .75;
  }
}

.sage-footer {
  background-color: $colorDark;
  color: $neutralLight;
  @mixin font-rhythm .75;

  &__copyright {
    margin: 0;
  }
}
