doctype html
include head
body
  include header
  main.sage-main
    section.sage-section.sage-section--intro
      !=contents
    section(class=".sage-section--columns--" + homeColumns).sage-section.sage-section--columns.sage-section--lore
    - console.log(collections["./src"])
      each topic in collections["./src"]
        article.topic
          h3.topic__title=topic.title
          p.topic__description=topic.description
          a(href=topic.path) Learn more &raquo;
  include footer
