doctype html
include head
body
  include header
  main.sage-main
    .color.color--light
    .color
    .color.color--dark
    section.sage-section.sage-content
      !=contents
    section(class=".sage-section--columns--" + homeColumns).sage-topics.sage-section--columns.sage-section
      each article in collections["./src"]
        article.sage-topics__article
          h3.sage-topics__article-title=article.title
          p.sage-topics__article-description=article.description
          a(href=article.path) Learn more &raquo;
  include footer
